body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #231f20;
}

#header {
  background-color: #535c2d;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px 20px;
}

#header ul {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#header li {
  margin: 0 15px 0 15px; 
  color: white;
}

#header a {
  text-decoration: none;
  color: white;
}

#header a:hover {
  color: #EAE5DA;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.2em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#landing {
  position: relative;
  text-align: left;
  color: #231f20;
  width: 100%;
}

.land-text {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  background-color: rgba(255,255,255,.7);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 5px;
  width: 50%;
}

.land-text p {
  font-size: 1.1em;
}

.land-text h2 {
  font-weight: 800;
}

.parallax {
  background-image: url("imgs/sign-night.jpg");

  min-height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.color {
  background-color: #eae5da;
}

.content-block1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 0 30px 0;
}

.content-block2 {
  padding-bottom: 0px;
}

.content-block1 h2 {
 font-size: 1.9em;
}

.content-block1 h3 {
  font-size: 1.4em;
}

.inner-block1 {
  width: 35%;
}

.inner-block2 {
  width: 35%;
}

.block-img {
  width: 40%;
}

.inner-block2 img {
  width: 100%;
}

.inner-block1 ul {
  list-style: none;
}

.inner-block1 li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.video-wrapper {
  width: 80%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.placeholder video {
  width: 70%;
}

.grid {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

.grid img {
  width: 100% !important;
  height: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid2 {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-count: 3;
  -moz-column-gap:10px;
  column-count: 3;
  column-gap: 10px;
}

.grid2 img {
  width: 100% !important;
  height: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.video-wrapper iframe {
  width: 100%;
} */

/* .carousel {
  width: 80%;
  margin: 0 auto 50px auto;
} */

.button {

  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.footer .button {
  background-color: #eae5da;
  color: #292D1B;
}

.button:hover {
  background-color: white;
  color: #231f20;
  border: none; 
}

#imp-button {
  background-color: #Bf3417;
}

#imp-container {
  margin-top: 30px;
}

.inner-block2 p { 
  padding-bottom: 25px;
}

.inner-block2 a {
  margin-bottom: 25px;
}

/* ACCORDION STYLING */
.accordion {
  background-color: #535C2D;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active, .accordion:hover {
  background-color: #292D1B;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\142f';
  float: right;
  margin-left: 5px;
  font-weight: bold;
}

.active:after {
  content: '\1431';
}

/* END ACCORDION STYLING */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: #535c2d;
  color: #fff;
}

.foot-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.footer-desc {
  width: 65%;
  font-size: .8em;
}

.footer-desc a {
  color: white;
  text-decoration: underline;
}

.footer-desc a:hover {
  color: #292D1B; 
}

.links {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: none;
}

.copyright {
  padding-top:20px;
}

/* ----- MOBILE MEDIA QUERY ----- */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.75em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  .landing-content {
    justify-content: center;
  }

  .landing-content h2 {
    width: 80%;
  }

  .content-block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }

  .inner-block1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .inner-block2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .placeholder video {
    width: 96%;
  }

  #imp-container {
    margin-bottom: 30px;
  }

  .footer-desc {
    width: 80%;
  }
}