body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
  color: #fff;
}

#header {
  padding: 10px 16px;
  background: #000;
  color: #fff;
}

.landing-content {
  padding:50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landing-content h2 {
  width: 50%;
  font-size: 1.5rem;
}
.landing-img {
    width: 100%;
}

.landing-img img {
    width: 100%;
}

.content-block1 {
    background-color: orange;
}

.content-block2 {
    background-color: red;
}

.carousel {
  width: 75%;
  margin: auto;
  padding: 10px;
}